body{
    font-family: "Lucida Console", Courier, monospace;
    width: 100%;
    text-align: center;
    line-height: 1.2em;
    list-style: none;
  }

  h1{
    font-weight: bold;
    font-size: 2.236em;
    padding: 10px;
    line-height: 1.2em;
    color: #064f94;
    background-image: url(../images/cruise.jpg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5%;
  }